/*!
global > z-index
------------------------------
*/
:root {
    --z-index-modal: 100;
    --z-index-header: 30;
    --z-index-fixed-cta: 30;
    --z-index-default: 1;
    --z-index-negative: -1;
}
